html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stage {
    background-image: url("1.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}

.stagehover:hover {
    transition-duration: 0.2s;
}

.lamp {
    background-image: url("lamp.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    z-index: 4;

}

.magician {
    background-image: url("2.jpg");
    background-size: contain;
    width: 300px;
    height: 300px;
    z-index: 3;
    background-repeat: no-repeat;
}

.show2 {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    visibility: hidden;
}

.StageMagician {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.hat {
    background-image: url("hat.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: 200px;
    height: 200px;
    z-index: 4;
}

#animals {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    transition: top 0.5s;
    top: 0px;
}

#animals.rabbit {
    z-index: 4;
    background-image: url("rabbit.png");
}

#animals.bird {
    z-index: 4;
    background-image: url("pigeon.png");
}


.light {
    height: 0;
    position: absolute;
    top: 85px;
    border-bottom: 900px solid rgba(255, 251, 27, 0.199);
    border-left: 465px solid transparent;
    border-right: 465px solid transparent;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    visibility: hidden;
    z-index: 3;
}

.transitionShow {
    position: absolute;
    top: -100%;
    transition: all 2s;
}